@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
body{font: 14px "Nanum+Gothic",malgun gothic,"맑은고딕",dotum,"돋움",sans-serif;color: #fff; background-color: lightgray;}

#wrap{width: 1100px; margin: 0 auto; text-align: center; background-color: #000; }
#header{height: 161px; /* overflow: hidden; */ line-height: 81px; position: relative; font-weight: bold;}
#header h1{float: left; width: 150px; height: 31px; margin: 0 20px 0 25px;}
#header > nav > ul{/* overflow: hidden; */ padding: -1px 20px;}
#header > nav > ul > li {float: left; margin: 0 26px;}
#header > nav > ul > li:first-child{margin-left: 0; position: absolute; left: 225px; top: 0;}
#header > nav > ul > li:first-child > a:after{content:""; background:url(../images/Polygon-1.png); display: inline-block; width: 11px; height: 9px; margin-left: 5px;}
#header > nav > ul > li:first-child:hover > a:after,
#header > nav > ul > li:first-child:focus > a:after{ background:url(../images/Polygon-3.png);}
#header > nav > ul > li:first-child + li:before{content:""; background:url(../images/Shape-1.png); display: inline-block; width: 1px; height: 60px; vertical-align: middle; margin-right: 25px; margin-right: 33px; margin-left: -21px}
#header > nav > ul > li:first-child + li{padding-left: 217px;}
#header > nav > ul > li:first-child ~ li > img{position: absolute; left: 0; top: 82px; display: none;}
#header > nav > ul > li:first-child ~ li > a{width: 60px; height: 80px;}
/* #header > nav > ul:last-child:after{content:""; background:url(../images/Layer-3.png); display: inline-block; width: 24px; height: 24px; vertical-align: middle; margin-left: 35px;} */


#container h2{font-size: 32px; font-weight: bold; margin-top: 50px; margin-bottom: 40px;}
#container p{font-size: 22px;}
#main-content h3{font-size: 20px; margin-bottom: 50px; font-weight: bold;}
#main-content h3:before{content:""; background:url(../images/Shape-2.png); display: inline-block; width: 200px; height: 1px; vertical-align: middle; margin-right: 50px;}
#main-content h3:after{content:""; background:url(../images/Shape-2.png); display: inline-block; width: 200px; height: 1px; vertical-align: middle; margin-left: 50px;}
#content{width: 956px; height: 423px; background-color: #fff; margin: 0 auto; overflow: hidden;position: relative; margin-bottom: 75px;}
#content .c-2 a{width: 233px; height: 175px; background: url(../images/content-5_05.png) 0 0 no-repeat; line-height: 24; position: absolute; right: 220px;top: 0;}
#content .c-2:hover a,
#content .c-2:focus a{background:url(../images/content-5_05_90.png) 10px 10px no-repeat;}
#content .c-3 a{width: 233px; height: 175px; background: url(../images/content-5_06_03.png) 0 0 no-repeat; line-height: 24; position: absolute; right: 0;top: 0;}
#content .c-3:hover a,
#content .c-3:focus a{background:url(../images/content-5_06_03_90.png) 10px 10px no-repeat;}
#content .c-4 a{width: 466px; height: 165px; background: url(../images/content-5_09.png) 0 0 no-repeat; line-height: 24; position: absolute; right: 0;bottom: 50px;}
#content .c-4:hover a,
#content .c-4:focus a{background:url(../images/content-5_09_95.png) 10px 10px no-repeat;}
#content > ul > li{float: left;}
#content > ul > li:first-child{font-weight: bold;text-align: left; color: #999999; font-size: 20px; width: 488px; height: 424px; float: left; background:url(../images/bg-content-1_03.png) 0 0 no-repeat;}
#content > ul > li:first-child span{color: #76BF58;}
#content > ul > li:first-child a{position: absolute; top: 50px; left: 20px;}
#content > ul > li:first-child + li{width: 234px; height: 215px; color: #000; font-weight: bold; font-size: 16px;}
#content > ul li img{margin-bottom: 7px;}
#content > ul > li:first-child + li + li{width: 234px; height: 215px; color: #000; font-weight: bold; font-size: 16px;}
#content > ul > li:last-child{width: 466px; height: 165px; color: #000; font-weight: bold; font-size: 16px;}
.sp-10{margin: 0 auto; margin-bottom: 45px; margin-top: 35px;}


#footer{text-align: left; position: relative;}
#footer-first{height: 120px; background-color: #ECEFF1; color: #000;line-height: 120px;}
#footer-first h4{width: 93px; float: left; margin-left: 38px; margin-right: 38px;}
#footer-first li{float: left; margin-right: 38px;}
#footer-first > ul > li:first-child > a:after{content:""; background:url(../images/Polygon-2-copy.png); display: inline-block; width: 10px; height: 6px; margin-left: 5px; vertical-align: middle;}
#footer-first > ul > li:first-child + li > a:after{content:""; background:url(../images/Polygon-2-copy.png); display: inline-block; width: 10px; height: 6px; margin-left: 5px; vertical-align: middle}
#footer-first p{float: right; margin-right: 45px;}
#footer-first select{height: 30px;}
#footer-last{height: 120px; background-color: #B0BEC5; color: #fff; padding-top: 33px; padding-left: 38px;}
#footer-last h5{margin-bottom: 3px;}
#footer-last address{margin-bottom: 3px;} 
#footer-last > ul{position: absolute; right: 10px; bottom: 0; }
#footer-last > ul > li{float: left; margin-right: 38px; line-height: 120px;}
#footer-last > ul > li > a{text-indent: -9999px; vertical-align: middle;}
#footer-last > ul > li.f1 > a{background:url(../images/instagram4.png) 0 0 no-repeat; width: 24px; height: 24px; display: inline-block;}
#footer-last > ul > li.f2 > a{background:url(../images/google-plus.png) 0 0 no-repeat; width: 24px; height: 24px; display: inline-block;}
#footer-last > ul > li.f3 > a{background:url(../images/youtube.png) 0 0 no-repeat; width: 32px; height: 32px; display: inline-block;}
#footer-last > ul > li.f4 > a{background:url(../images/facebook-logo.png) 0 0 no-repeat; width: 24px; height: 24px; display: inline-block;}
#footer-last > ul > li.f5 > a{background:url(../images/twitter.png) 0 0 no-repeat; width: 24px; height: 24px; display: inline-block;}
#footer-last > ul > li.f6 > a{background:url(../images/blogger-logo.png) 0 0 no-repeat; width: 24px; height: 24px; display: inline-block;}



/* gnb header style */
#header ul > li:hover,#header ul > li:focus{color: #77C159;}
.total-menu{width: 1100px; position: absolute; left: -223px; top: 76px; display: none;}
.total-menu > li{width: 274px; height: 244px; float: left; }
#header > nav > ul > li:first-child>a:focus + ul{display: block; z-index: 10;}
#header > nav > ul > li:first-child + li.m10 > a:hover + img,
#header > nav > ul > li:first-child + li.m10 > a:focus + img{display: block;}
#header > nav > ul > li.m11 > a:hover + img,
#header > nav > ul > li.m11 > a:focus + img{display: block;}
#header > nav > ul > li.m12 > a:hover + img,
#header > nav > ul > li.m12 > a:focus + img{display: block;}
#header > nav > ul > li.m13 > a:hover + img,
#header > nav > ul > li.m13 > a:focus + img{display: block;}
#header > nav > ul > li.m14 > a:hover + img,
#header > nav > ul > li.m14 > a:focus + img{display: block;}
#header > nav > ul > li.m15 > a:hover + img,
#header > nav > ul > li.m15 > a:focus + img{display: block;}
/* //gnb header style */

/*gnb container style*/
.bx-wrapper{margin: 0 auto; background-color: #000; border: 1px solid #000; box-shadow:none;}
.bx-wrapper .bx-controls-direction a{width: 84px; height: 84px; top: 50%; margin-top: -42px;}
.bx-wrapper .bx-prev{left: -85px; background: url(../images/button1.png) no-repeat 0 0px; }
.bx-wrapper .bx-next{right: -85px; background: url(../images/button2.png) no-repeat 0 0px; }
.bx-wrapper .bx-next:hover, .bx-wrapper .bx-next:focus{background-position: 0 0;background: url(../images/button4.png) 0 0 no-repeat;}
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-prev:focus{background: url(../images/button3.png) 0 0 no-repeat;}
/*//gnb container style*/

/* gnb footer style */
#footer-last > ul > li.f1:hover a,#footer-last > ul > li.f1:focus a{background:url(../images/instagram3.png) 0 0 no-repeat; width: 24px; height: 24px;}
#footer-last > ul > li.f2:hover a,#footer-last > ul > li.f2:focus a{background:url(../images/google-plus1.png) 0 0 no-repeat; width: 24px; height: 24px;}
#footer-last > ul > li.f3:hover a,#footer-last > ul > li.f3:focus a{background:url(../images/youtube1.png) 0 0 no-repeat; width: 32px; height: 32px;}
#footer-last > ul > li.f4:hover a,#footer-last > ul > li.f4:focus a{background:url(../images/facebook-logo1.png) 0 0 no-repeat; width: 24px; height: 24px;}
#footer-last > ul > li.f5:hover a,#footer-last > ul > li.f5:focus a{background:url(../images/twitter1.png) 0 0 no-repeat; width: 24px; height: 24px;}
#footer-last > ul > li.f6:hover a,#footer-last > ul > li.f6:focus a{background:url(../images/blogger-logo1.png) 0 0 no-repeat; width: 24px; height: 24px;}
.footer-menu-1{width: 250px; height: 360px; background-color: #ECEFF1; 
position: absolute; left: 167px; top: -310px; padding: 30px; border: 2px solid #ccc; display: none;}
.footer-menu-1 li{width: 250px; height: 42px; line-height: 0;}
#footer-first > ul > li:first-child:hover > ul,
#footer-first > ul > li:first-child:focus > ul{display: block;} 
.footer-menu-2{width: 250px; height: 270px; background-color: #ECEFF1; 
position: absolute; left: 250px; top: -220px; padding: 28px; border: 2px solid #ccc; display: none;}
.footer-menu-2 li{width: 250px; height: 42px; line-height: 0;}
#footer-first > ul > li:first-child + li:hover > ul,
#footer-first > ul > li:first-child + li:focus > ul{display: block;}
/* //gnb footer style */






